input{
    width : 500px;
    height: 40px;
    border-radius : 5px;
    border: 1px solid #555;
    margin-right : 10px
}

h1{
    text-align: center;
    color: #ff314e;
}

.todos{
    border: 1px solid #777;
    border-radius: 5px;
    min-height: 200px;
    margin-top: 20px;
    padding-top: 10px;
}

ul{
    width: 100%;
    padding : 0px;
}

li{
    margin: 10px;
    padding: 5px;
    height: 50px;
    list-style: none;
    font-size: 18px;
}

button{
    float: right;
    
}

p{
    font-size: 12px;

}